
<div class="row text-center justify-content-center ops">
    <div class="col-md-4 nodec">
        <a class="nodec" asp-action="Assign">NEXT WEEK</a><br>
        <a class="nodec" asp-action="Check">CURRENT WEEK</a><br>
        <a class="nodec" asp-action="Manage">MANAGE STAFFS</a><br>
    </div>
</div>