
<div class="row text-center justify-content-center ops">
    <div class="col-md-4 nodec">
        <a class="nodec" asp-action="Check">check timetable for current week</a><br>
        <a class="nodec" asp-action="Apply">apply for next week</a>
    </div>
</div>